<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB 테이블과 컬럼들을 mapper에 매핑하기 위한 변수 선언 -->
	<properties>
		<property name="house_member" value="house_member" />
		<property name="memNo" value="memNo" />
		<property name="memId" value="memId" />
		<property name="password" value="password" />
		<property name="memName" value="mem_Name" />
		<property name="email" value="email" />
		<property name="houseNo" value="houseNo" />
		<property name="account" value="account" />
	</properties>


    
	<typeAliases>
		<package name="edu.spring.homeshare.domain" />
	</typeAliases>
</configuration>



























