<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.spring.homeshare.BookMapper">

	<!-- 집번호로 찾기 -->
	<!-- 호스트가 예약 확인하기 -->
	<select id="select_by_houseNo" resultType="bookVO">
		select * from ${book}
		where ${bookHouseNo} =#{bookHouseNo}
	</select>
	<!-- 유저번호로 찾기 -->
	<!-- 유저가 예약 검색 -->
	<select id="select_by_MemNo" resultType="bookVO">
		select * from ${book}
		where ${bookMemNo} =#{bookMemNo}
	</select>


	<select id="select_all_by_hostId" resultType="bookVO" parameterType="String">
		select * from ${book} where 
		${bookHostId} = #{bookHostId}
		order by ${checkin}
	</select>
	
	
	<!-- host가 수락한 예약내역 -->
	<select id="select_all_by_hostId_hostChk" resultType="bookVO" parameterType="String">
		select * from ${book} where 
		${bookHostId} = #{bookHostId}
		and ${hostCheck} = 1
		order by ${checkin}
	</select>
	
	<!-- 호스트 수락내역 지난날짜 -->
	<select id="select_all_by_hostId_hostChk_Last" resultType="bookVO" parameterType="String">
		select * from ${book} where 
		${bookHostId} = #{bookHostId}
		and ${hostCheck} = 1
		and ${checkin} <![CDATA[<]]> sysdate
		order by ${checkin}
	</select>
	
	<!-- hostId로 검색 페이징 -->
	<!-- 페이징 처리 -->
	<select id="paging_book_by_hostId" resultType="bookVO">
		select
		*
		from (
		select rownum rn,
		a.*
		from (
		select * from ${book} 
		where ${bookHostId} = #{bookHostId}
		and ${hostCheck} = 1
		order by
		${checkin} desc
		) a
		) b
		where rn
		between #{start} and #{end}
	</select>
	

	<select id="total_count_hostId" resultType="Integer">
		select count(*) 
		from ${book}
		where ${bookHostId} = #{bookHostId}
	</select>
	
	
	<!-- 게스트메핑 -->
	
	<select id="paging_book_by_guestId" resultType="bookVO">
		select
		*
		from (
		select rownum rn,
		a.*
		from (
		select * from ${book} 
		where ${bookGuestId} = #{bookGuestId}
		and ${hostCheck} = 1
		order by
		${checkin} desc
		) a
		) b
		where rn
		between #{start} and #{end}
	</select>
	
	<select id="total_count_guestId" resultType="Integer">
		select count(*) 
		from ${book}
		where bookGuestId = #{bookGuestId}
	
	</select>





	<!-- houseno, memno 2가지, 시작/종료 4가지변수로 검색 -->
	<select id="select_option_and_date" parameterType="java.util.HashMap"
		resultType="bookVO">
		select * from ${book} where ${option} = #{optionValue}
		and ${hostCheck} = #{hostCheck}
		<if test='checkIn != null and checkIn != ""'>
			AND ${checkin} <![CDATA[>=]]>
			#{checkIn}
		</if>
		<if test='checkOut != null and checkOut != ""'>
			AND ${checkout} <![CDATA[<=]]>
			#{checkOut}
		</if>
	</select>



	<insert id="insert">

		insert into ${book}
		values(0,
		#{bookMemNo},#{bookHouseNo}, #{checkin},
		#{checkout} , #{hostCheck},
		#{bookMem}, #{totalPrice}, #{bookHostId}, #{bookGuestId}
		#{bookGuestPhone},#{bookHostPhone} )
	</insert>

	<update id="update">
		update ${book}
		set 
		${hostCheck} = #{hostCheck}
		where
		${bookNo} = #{bookNo}
	</update>

	<delete id="delete">
		delete from ${book}
		where ${bookNo} = #{bookNo}
	</delete>
	
	


</mapper>