<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.spring.homeshare.BookMapper">

	<!-- 집번호로 찾기 -->
	<!-- 호스트가  예약 확인하기-->
	<select id="select_by_houseNo" resultType="bookVO">
		select * from ${book} where ${bookHouseNo} =#{bookHouseNo}
	</select>
	
	<!-- 유저번호로 찾기 -->
	<!-- 유저가 예약 검색 -->
	<select id="select_by_MemNo" resultType="bookVO">
		select * from ${book} where ${bookMemNo} =#{bookMemNo}
	</select>
	
	<!--  -->
	



	<insert id="insert">

		insert into ${book}
		values(0, #{bookMemNo},#{bookHouseNo}, #{checkin},
		#{checkout} , #{hostCheck},
		#{bookMem}, #{totalPrice})
	</insert>



</mapper>