<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.spring.homeshare.MemberMapper">

	<!-- 회원가입 sql -->
	<insert id="insert" parameterType="memberVO">
		insert into member
		values(0,#{memId},#{password},0,null,#{memName},#{email},#{gender},#{phoneReleaseToHost})
	</insert>

	<!-- 로그인 Sql -->
	<select id="login" resultType="MemberVO">
		select * from ${member}
		where
		${memId} = #{memId} and
		${password} = #{password}
	</select>
	
	<!-- 정보수정 -->
	<update id="update" >
	update ${member} set
		${memId} =#{memId},
		${password} =#{password},
		${houseCount}=#{houseCount},
		${phone}=#{phone},
		${memName}=#{memName},
		${email}=#{email},
		${gender}=#{gender}
		where ${memNo} = #{memNo}
	
	</update>



	<!-- 로그아웃 -->
	<select id="">
	</select>
	<!-- 아이디 찾기 찾기 sql -->
	<select id="findId" resultType="String">
		select ${memId} from
		${member}
		where ${memName} = #{memName} and
		${email} = #{email}
	</select>

	<!-- 정보가져오기 (내정보수정시 사용) -->
	<select id="select" resultType="memberVO">
		select * from ${member} where
		${memId}=#{memId}
	</select>

	<!-- 회원정보조회 -->
	<select id="select_all_member_orderby"
		parameterType="java.util.HashMap"
		resultType="memberVO">

		select
		*
		from (
		select rownum rn,
		a.*
		from (
		select * from member
		
		) a
		) b
		where rn
		between #{start} and #{end}

	</select>
	
	<select id="total_count" resultType="Integer">
		select count(*) total_cnt
		from ${member}
	</select>
	
	
	<!-- 아이디 중복확인  -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*) FROM ${member}
		WHERE ${memId} = #{memId}
</select>


<!-- 삭제메핑 -->
<delete id="delete">
delete from member where ${memId} = #{memId}
</delete>
</mapper>










